.p-keyvisual {
  background-color: #eee;

  &__wrapper {
    @include wrapper(100%, 0);
    max-width: 1100px;
    text-align: center;
    overflow: hidden;
  }

  &__list {
    float: left;
    & > li {
      float: left;
    }
  }

  &__img {
    max-width: 1100px;

    &:hover {
      opacity: 0.7;
    }
  }

  &__slide {
    &__btn {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #3a6;

      &:hover {
        cursor: pointer;
        background-color: #3a6;
      }

      &__list {
        padding: {
          bottom: 18px;
        }
        margin-top: -36px;
        display: inline-block;
        z-index: 10;
        & > li {
          float: left;

          &:nth-child(n+2) {
            margin-left: 12px;
          }
        }
      }
    }
  }
}

.is-keyvisual-active {
  background-color: #3a6;
}