.p-keyvisual {
  background-color: #eee;

  &__wrapper {
    @include wrapper(100%, 0);
    max-width: 1100px;
    overflow: hidden;
  }

  &__list {
    float: left;
    & > li {
      float: left;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__img {
    max-width: 1100px;
  }

  &__slide {
    &__btn {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #3a6;

      &:hover {
        cursor: pointer;
        background-color: #3a6;
      }

      &__wrapper {
        position: relative;
        padding-bottom: 35%;
      }

      &__list {
        position: absolute;
        top: 85%;
        left:50%;
        display: inline-block;
        margin-left: -15%;
        z-index: 10;
        & > li {
          float: left;

          &:nth-child(n+2) {
            margin-left: 12px;
          }
        }
      }
    }
  }
}

.is-keyvisual-active {
  background-color: #3a6;
}