.p-search {

  &__wrapper {
    @include wrapper($maxWidth, 0);
    padding-top: 72px;
  }

  &__title {
    padding: {
      bottom: 12px;
    }
    text-align: center;
    border-bottom: 2px solid #0f813f;
    color: #555;
  }

  &__contact {
    float: left;
    width: 384px;
    padding: {
      top: 36px;
    }

    &__title {
      color: #3a6;
    }

    &__form {
      margin: {
        top: 16px;
      }
    }

    &__input {
      width: 289px;
      border: 2px solid #666;
      border-radius: 6px;
      font-size: 16px;
      line-height: 39px;
      vertical-align: bottom;
      padding: {
        left: 10px
      }
      margin: {
        bottom: 2px;
      }
    }

    &__btn {
      margin-left: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &__tel {
      border-top: 2px solid #ce7;
      margin: {
        top: 18px;
      }
      padding: {
        top: 26px;
      }

      &__title {
        color: #3a6;
        display: inline-block;
      }
    }

    &__time {
      font-size: 16px;
      color: #555;
      margin: {
        left: 15px;
      }
    }

    &__num {
      color: #484848;
      font: {
        size: 49px;
        weight: bold;
      }
      margin: {
        top: 33px;
      }
    }

    &__inspect {
      text-align: center;
      margin: {
        top: 22px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__list {
    float: left;
    margin: {
      top: 30px;
      left: 50px;
    }
    & > li {
      display: inline-block;

      &:nth-child(n+2) {
        margin: {
          left: 10px;
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }

    &__img {
      width: 100%;
    }
  }

  @media (max-width: 640px) {

    &__wrapper {
      padding: {
        top: 68px;
        left: 5px;
        right: 5px;
      }
    }

    &__title {
      font-size: 16px;
      padding-bottom: 8px;
    }

    &__contact {
      float: none;
      width: 100%;
      padding: {
        top: 35px;
      }

      &__title {
        font-size: 19px;
      }

      &__form {
        margin: {
          top: 15px;
        }
      }

      &__input {
        width: 204px;
        font-size: 13px;
      }

      &__tel {
        text-align: center;
        padding: {
          top: 25px;
        }

        &__title {
          font-size: 19px;
        }
      }

      &__time {
        font-size: 13px;
      }

      &__num {
        font-size: 29px;
        margin: {
          top: 26px;
        }
      }

      &__inspect {
        margin: {
          top: 17px;
        }

        &__img {
          width: 100%;
        }
      }
    }

    &__list {
      float: none;
      width: 100%;
      margin: {
        top: 34px;
        left: 0;
      }

      & > li {
        width: 32%;

        &:nth-child(n+2) {
          margin: {
            left: 4px;
          }
        }
      }
    }
  }
}